<div class="fetched-app">
  <app-fetched
    (liked)="likedContainer($event)"
    (disliked)="dislikedContainer($event)"
  ></app-fetched>
</div>

<div class="liked-app">
  <app-like [likes]="likes" (dislike)="onDisliked($event)" (archiv)="onArchiveLiked($event)"></app-like>
</div>

<div class="archived-app">
  <app-archived [archived]="archived"></app-archived>
</div>
<div class="disliked-app">
  <app-dislike [dislikes]="dislikes" (like)="onLiked($event)" (archive)="onArchiveDisLiked($event)"></app-dislike>
</div>
