<div class="container">
  <div class="fetched-app">
    <app-fetched
      (liked)="onLike($event)"
      (disliked)="onDislike($event)"
    ></app-fetched>
  </div>

  <div class="liked-app">
    <app-like
      [likes]="likes"
      (dislike)="onDisliked($event)"
      (archiv)="onArchive($event,likes)"
      (deleteLike)="deleteJoke($event,likes)"
    ></app-like>
  </div>

  <div class="archived-app">
    <app-archived [archived]="archived"></app-archived>
  </div>
  <div class="disliked-app">
    <app-dislike
      [dislikes]="dislikes"
      (like)="onLiked($event)"
      (archive)="onArchive($event,dislikes)"
      (deleteDislike)="deleteJoke($event,dislikes)"
    ></app-dislike>
  </div>
</div>
