<div class="fetch-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>Chuck Norris Joke</h1></mat-card-title>
      <div>
        Fetch Time(s) <input class="fetch-number" type="number" [(ngModel)]="fetchTime" >
      </div>
    </mat-card-header>
      <mat-card-actions>
        <button mat-mini-fab color="primary" class="buttonLeft" (click)="onLike(joke)">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onDislike(joke)">
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
      </mat-card-actions>


    <mat-card-content>
      <p>

        {{ joke?.joke }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
